@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

body {
    font-family: 'Anta', serif;
    color: white;
    /* background: black; */
}

/* html {
    padding-top: 5%;
} */

p {
    padding: 10px; 
}

h1 {
    font-size: 7vh;
    font-weight: 500;
    -webkit-text-stroke: 1.4px;
    -webkit-text-stroke-color: rgb(66, 66, 66);
}

h2 { 
    font-size: x-large;
}

.logo-bg {
    background-image: url("./assets/images/JSLogo1.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    min-height: 100px;
    /* background-color: black; */
    /* background: rgba(76, 175, 80, 0.6); */
}

.no-bg {
    background-image: none;
}

/* Container styles */
.scrolling-text-container {
    background-color: #eff5ff;
    border-radius: 4px;
    overflow: hidden;
}

/* Inner container styles */
.scrolling-text-inner {
    display: flex;
    white-space: nowrap;
    max-width: 50vw;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0;
    --marquee-speed: 20s;
    --direction: scroll-left;
}

/* Text styles */
.scrolling-text {
    display: flex;
}

.scrolling-text-item {
    padding: 0 10px;
    color: black;
}

/* Apply the animation to the text items */
.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

/* Pause the animation when a user hovers over it */
.scrolling-text-container:hover .scrolling-text-inner>div {
    animation-play-state: paused;
}

/* Setting the Animation using Keyframes */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}
@media screen and (max-width: 768px) {
    .recital-bg{
        background-image: none;
        min-height: 200px;
    }

    h1 {
        font-size: 5vh;
    }
    
}